:root{
    font-family: 'Raleway', sans-serif;
}

.loading{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(25, 25, 26, 1);
    z-index: 9999;
}
.grid__loading{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.div__comojugar{
    
    width: 95%;
    min-height: 100vh;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
}

.card__puntaje{
    width: 18rem;
    margin: auto;
    font-weight: bold;
    color: rgb(56, 56, 56);
    margin-bottom: 10px;
}
.mg-r-l{
    margin-left: 5px;
    margin-right: 5px;
}

.incorrecto{
    margin: 5px;
    padding: 0;
    text-align: center;
    color: rgb(219, 71, 71);
    font-size: 1.5rem;
    font-family: 'Raleway';
    font-weight: 900;
}
.correcto{
    text-align: center;
    margin: 5px;
    padding: 0;
    color: rgb(35, 143, 35);
    font-size: 1.5rem;
    font-family: 'Raleway';
    font-weight: 900;
}


.btn__nuevo-juego{
    display: block;
    margin: auto;
    padding: 10px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#div-resultado{
    max-width: 600px;
    margin: auto;
}
.div__resultado{
    background: linear-gradient(0deg, rgb(88 80 111) 0%, rgba(112,99,149,1) 56%);
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 20px 20px;
}

.div__resultado .img__user{
    width: 80px; border-radius: 100%; margin-top: 1rem;
}

.div__resultado .puntacion{
    text-align: center; width: 80%;
}

.div__resultado .puntacion p {
    font-weight: bold; color: darkgoldenrod; margin: 0; margin-bottom: 1rem;
}
.div__resultado .puntacion .puntos{
    display: flex; justify-content: center;
}
.div__resultado .puntacion .puntos img{
   width: 40px;
   margin-right: 0.5rem;
}
.div__resultado .puntacion .puntos p{
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
    color: rgb(228, 228, 228);
}


.puntacion .barra__puntuacion{
    margin: auto; height: 1rem; width: 90%; background-color: rgb(110, 110, 110);
    display: grid; grid-template-columns: 50% 50%;
}

.barra__puntuacion .mis__puntos{
    height: 100%; width: 100%; background-color: rgb(18, 119, 18);
}

.barra__puntuacion .puntos__totales{
    height: 100%; width: 100%; background-color: rgb(94, 156, 94);
}

.div__ranking{
    width: 90%; margin: auto; margin-top: 1rem ;
}
.div__ranking h2{
    font-weight: bold;
    color: rgb(34, 34, 34);
}

.div__ranking .ranking__usuario{
    background-color: rgb(235, 235, 235); display: flex; 
    justify-content: space-evenly; flex-direction: row; align-items: center;
    padding: 1rem; margin-bottom: 0.5rem; border-radius: 10px;
}

.div__ranking .ranking__usuario img{
    width: 40px;
}
.br100{
    width: 100px;
    border-radius: 100%;
}
.div__ranking .ranking__usuario p{
    margin: 0;
    font-weight: bold;
    color: rgb(41, 41, 41);;
}
