:root{
    font-family: 'Raleway', sans-serif;
}

.loading{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(25, 25, 26, 1);
    z-index: 9999;
}
.grid__loading{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.div__comojugar{
    
    width: 95%;
    min-height: 100vh;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
}

.card__puntaje{
    width: 18rem;
    margin: auto;
    font-weight: bold;
    color: rgb(56, 56, 56);
    margin-bottom: 10px;
}
.mg-r-l{
    margin-left: 5px;
    margin-right: 5px;
}

.incorrecto{
    margin: 5px;
    padding: 0;
    text-align: center;
    color: rgb(219, 71, 71);
    font-size: 1.5rem;
    font-family: 'Raleway';
    font-weight: 900;
}
.correcto{
    text-align: center;
    margin: 5px;
    padding: 0;
    color: rgb(35, 143, 35);
    font-size: 1.5rem;
    font-family: 'Raleway';
    font-weight: 900;
}


#div-resultado{
    max-width: 600px;
    margin: auto;
}
.div__resultado{
    background: linear-gradient(0deg, rgb(88 80 111) 0%, rgba(112,99,149,1) 56%);
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 20px 20px;
}

.div__resultado .img__user{
    width: 80px; border-radius: 100%; margin-top: 1rem;
}

.div__resultado .nombre__user{
    margin: 0;font-size: 1rem;font-weight: bold; text-transform: uppercase;color: #eeeeee;font-family: 'Raleway';
}

.div__resultado .puntacion{
    text-align: center; width: 80%;
}

.div__resultado .puntacion .puntos{
    display: flex; justify-content: center;margin-top: -0.5rem;
}
.div__resultado .puntacion .puntos img{
   width: 40px;
   margin-right: 0.5rem;
}
.div__resultado .puntacion .puntos p{
    font-size: 3rem;
    margin: 0;
    margin-top: -2px;
    font-weight: bold;
    color: rgb(228, 228, 228);
}

.fondo__barra{
    background-color:  rgb(235, 235, 235); width: 90%;
    padding: 10px; border-radius: 10px;margin: 1rem auto;max-width: 500px;
}
.barra__puntuacion{
    margin: auto; height: 1rem; width: 90%;
    display: grid;
}
.txt__barra {
    font-weight: bold; color: darkgoldenrod; margin: 0; text-align: center;
}

.barra__puntuacion .mis__puntos{
    height: 100%; width: 100%; background-color: rgb(81, 141, 81);border-radius: 10px 0 0 10px;
}

.barra__puntuacion .puntos__totales{
    height: 100%; width: 100%; background-color: rgb(159, 177, 159);    border-radius: 0 10px 10px 0;
}

.div__ranking{
    width: 90%; margin: auto; margin-top: 1rem;max-width: 500px;
}
.div__ranking h2{
    font-weight: bold;color: rgb(34, 34, 34);
}

.div__ranking .ranking__usuario{
    background-color: rgb(235, 235, 235); display: flex; 
    justify-content: space-evenly; flex-direction: row; align-items: center;
    padding: 1rem; margin-bottom: 0.5rem; border-radius: 10px;
}

.div__ranking .ranking__usuario img{
    width: 40px; height: 40px;
}
.br100{
    width: 100px;
    border-radius: 100%;
}
.div__ranking .ranking__usuario p{
    margin: 0;
    font-weight: bold;
    color: rgb(41, 41, 41);;
}

.div__play_again{
    position: fixed;bottom: 1rem;width: 90%;margin: auto;display: grid; grid-template-columns: 15% 70% 15%;
    background: #655a83;padding: 0.5rem;border-radius: 10px;
    font-family: 'Raleway';max-width: 500px;
}
.div__play_again button{
    font-size: 1rem; font-weight: bold;border-color:#655a83;
}
.btn-outline-light:hover{
   color: #ffffff;background-color: #564d70;border-color: #3c364e;
}

.btn-guardar-puntaje{
    margin-bottom: 1rem;font-family: 'RALEWAY';background-color: #efc75e;font-weight: bold;color: #2c2c2c;text-transform: uppercase;
}
.font__raleway{
    font-family: 'Raleway';
}
