:root{
    --bs-secondary: #797979;
}

body{
    background-color: rgb(65, 59, 85);  
}
.loading{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(25, 25, 26, 1);
    z-index: 9999;
}
.grid__loading{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.div__comojugar{
    
    background-color: rgb(65, 59, 85);  
    min-height: 100vh;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
}

.card__puntaje{
    width: 18rem;
    margin: auto;
    font-weight: bold;
    color: rgb(56, 56, 56);
    margin-bottom: 10px;
}
.mg-r-l{
    margin-left: 5px;
    margin-right: 5px;
}
.music__container{

    background-color: rgb(65, 59, 85);  
    min-height: 100vh;
    margin: 10px;
    max-width: 600px;
    margin: auto;
    
}

.music__timer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music__timer--circle{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.music__grid{

    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

.music__grid img{
    width: 40%;
    margin: auto;
}

.music__grid--button{
    position: relative;
    border-radius: 10px;
}

.music__grid--circle{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #ffffff;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.music__pregunta{
    margin: 10px;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;

}

.cancion__correcta{
    margin: 5px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(153, 236, 142);
    border-radius: 10px;
    box-shadow: 2px 2px 5px #2c2c2c;
    
}

.help{
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(1, 77, 1);
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(1, 77, 1);
}

.help p, i{
    margin: 0;
    padding: 0;
}

.help p {
    margin-left: 5px;
}


.posibles_respuesta{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    height: 100%;
    width: 100%;
    background-color: #dddca5;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #2c2c2c;
    display: block;
}

.notblock{
    display: none;
}

.input__respuesta{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

#cancion-correcta{
    text-align: center;
}
#cancion-correcta p{
    margin: 5px;
    font-size: 1rem;
    font-weight: bold;
}
.incorrecto{
    color: rgb(219, 71, 71);
}
.correcto{
    color: rgb(57, 207, 57);
}

.cancion__correcta i{
    margin-right: 10px;
}