
.container__player{
    background-color: rgb(65, 59, 85);  
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    min-height: 100vh;
}

.player{
    width: 300px;
    height: 550px;
    background-color: rgb(65, 59, 85);  
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    border-radius: 12px;
    box-shadow: 9px 9px 16px rgba(48, 44, 63, 0.9),
    -5px -5px 12px rgba(231, 231, 231, 0.2);
}

.player__controls{
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.player__btn{
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
   
}
.player__album{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.player__album img{
    width: 100%;
    border-radius: 100%;
    box-shadow: 9px 9px 16px rgba(48, 44, 63, 0.9),
    -5px -5px 12px rgba(231, 231, 231, 0.2);
}

.player__artist{
   font-size: 1.2rem;
   font-weight: bold;
   opacity: 0.5;
   color: white;
   margin-top: 10px;
}

.player__song{
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    margin-top: 5px;
}

.player__audio{
    display: none;
}

.player__btn--medium{
    font-size: 1.3rem;
    min-height: 50px;
    min-width: 50px;
    align-items: center;
    color: white;   
}
.player__btn--play{
    font-size: 1.5rem;
    min-height: 50px;
    min-width: 50px;
    border-radius: 100%;
    background-color: white;
    align-items: center;
    color: rgb(65, 59, 85); 
}

.player__level{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 1rem;
    color: white;
}

.player__level--line{
    width: 100%;
}

.pregunta{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    height: 90%;
}


.music__container{

    background-color: rgb(65, 59, 85);  
    min-height: 100vh;
    margin: 10px;
    max-width: 600px;
    margin: auto;
}

.music__timer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music__timer--circle{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.music__grid{

    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

.music__grid img{
    width: 40%;
    margin: auto;
}

.music__grid--button{
    position: relative;
    border-radius: 10px;
}

.music__grid--circle{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #ffffff;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.music__pregunta{
    margin: 10px;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;

}

.cancion__correcta{
    margin: 5px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: gray;
    
}
